@keyframes floatingChip1Anim {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-12%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes floatingChip2Anim {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-12%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes floatingChip3Anim {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-6%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes floatingChip1AnimMobile {
  0% {
    transform: translateY(-150%);
  }

  50% {
    transform: translateY(-160%);
  }
  100% {
    transform: translateY(-150%);
  }
}
@keyframes floatingChip2AnimMobile {
  0% {
    transform: translateY(128%);
  }

  50% {
    transform: translateY(122%);
  }
  100% {
    transform: translateY(128%);
  }
}
@keyframes floatingChip3AnimMobile {
  0% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(88%);
  }
  100% {
    transform: translateY(100%);
  }
}
