$color-white: #fff;
$color-black: #000;
$color-pink: #ff00a2;
$color-purple: #A60EDE;
$color-green: #85FF08;
$color-green: #85FF08;
$color-green-darker: #0AFF5B;
$color-dark-blue-bg: #21213A; 
$color-light-blue-bg: #3D455A;
$color-pink-stroke: #D1A4FF0a;
