// --------Cera pro-----------
@font-face {
  font-family: 'Cera Pro';
  src: url('./src/assets/fonts/cera-pro/CeraPro-Italic.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./src/assets/fonts/cera-pro/CeraPro-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./src/assets/fonts/cera-pro/CeraPro-BlackItalic.woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./src/assets/fonts/cera-pro/CeraPro-Light.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./src/assets/fonts/cera-pro/CeraPro-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./src/assets/fonts/cera-pro/CeraPro-Black.woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./src/assets/fonts/cera-pro/CeraPro-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./src/assets/fonts/cera-pro/CeraPro-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./src/assets/fonts/cera-pro/CeraPro-Thin.woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./src/assets/fonts/cera-pro/CeraPro-MediumItalic.woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./src/assets/fonts/cera-pro/CeraPro-LightItalic.woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./src/assets/fonts/cera-pro/CeraPro-ThinItalic.woff');
  font-weight: 100;
  font-style: italic;
}

// --------INTER-----------

@font-face {
  font-family: 'Inter';
  src: url('./src/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf');
}
